body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 30px;
}
.orange-color{
    color: orange;
}
p{
    font-size: 30px;
    
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
h1{
    padding: 6%;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 3%;
    padding-top: 10%;
    
}
.half-width img{
    width: 80%;
}

.link-button{
    background-image: linear-gradient(orange, rgb(206, 126, 112));
    text-decoration: none;
    padding:10px 40px;
    border-radius: 20%;
    color: white ;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding:20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left ;
}
#Web-dev-experence{
    border-left: 7px solid;
    border-color: rgb(35, 78, 221);
    border-image-slice: 1;
}
#full-stack-experience{
    border-left: 7px solid;
    border-color: salmon;
    border-image-slice: 1;
    
}
